src/main/resources/wsdl/creditcard/CreditCardServices_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonsClasses.CommonObjects" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CommonsClasses.CommonObjects">
  <xsd:complexType name="ArrayOfclassStatementData">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classStatementData" nillable="true" type="tns:classStatementData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassStatementData" nillable="true" type="tns:ArrayOfclassStatementData"/>
  <xsd:complexType name="classStatementData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="billingdate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="closingbalance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="duedate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="minimumdueamount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="openingbalance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="statementserialno" type="xsd:long"/>
      <xsd:element minOccurs="0" name="totalcredits" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="totaldebits" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classStatementData" nillable="true" type="tns:classStatementData"/>
  <xsd:complexType name="ArrayOfclassInstallmentData">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classInstallmentData" nillable="true" type="tns:classInstallmentData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassInstallmentData" nillable="true" type="tns:ArrayOfclassInstallmentData"/>
  <xsd:complexType name="classInstallmentData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accountserialno" type="xsd:long"/>
      <xsd:element minOccurs="0" name="cardnumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cardserno" type="xsd:long"/>
      <xsd:element minOccurs="0" name="installmentSerialNo" type="xsd:long"/>
      <xsd:element minOccurs="0" name="instalmentsnumber" type="xsd:long"/>
      <xsd:element minOccurs="0" name="instalmentsprocessed" type="xsd:long"/>
      <xsd:element minOccurs="0" name="merchcity" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="merchid" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="merchname" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="originalamount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="origtrxndate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="totalinstamount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classInstallmentData" nillable="true" type="tns:classInstallmentData"/>
  <xsd:complexType name="ArrayOfclassStatementStatData">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classStatementStatData" nillable="true" type="tns:classStatementStatData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassStatementStatData" nillable="true" type="tns:ArrayOfclassStatementStatData"/>
  <xsd:complexType name="classStatementStatData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="age" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="billingdate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="closingbalance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="minimumdueamount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="totalcredits" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="totaldebits" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classStatementStatData" nillable="true" type="tns:classStatementStatData"/>
  <xsd:complexType name="ArrayOfclassCreditCardTransactions">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classCreditCardTransactions" nillable="true" type="tns:classCreditCardTransactions"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassCreditCardTransactions" nillable="true" type="tns:ArrayOfclassCreditCardTransactions"/>
  <xsd:complexType name="classCreditCardTransactions">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="cardnumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="merchantcity" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="merchantname" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="narration" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orginaltransactionamount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="orginaltransactioncurrency" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="orginaltransactioncurrencycode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="postdate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="statementserialno" type="xsd:long"/>
      <xsd:element minOccurs="0" name="transactiondate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="transactionpartitionkey" type="xsd:long"/>
      <xsd:element minOccurs="0" name="transactionserialno" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classCreditCardTransactions" nillable="true" type="tns:classCreditCardTransactions"/>
  <xsd:complexType name="ArrayOfclassCardApplicationDetails">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classCardApplicationDetails" nillable="true" type="tns:classCardApplicationDetails"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassCardApplicationDetails" nillable="true" type="tns:ArrayOfclassCardApplicationDetails"/>
  <xsd:complexType name="classCardApplicationDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AddDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="ApplicationNumber" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ApplicationStage" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NIC" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="StageDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classCardApplicationDetails" nillable="true" type="tns:classCardApplicationDetails"/>
  <xsd:complexType name="classCardApplicationAdd">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BranchCode" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PromotionID" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="adddate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="adduser" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="applicationNo" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="applicationType" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="canvassedID" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nic" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="stage" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="stagedate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="stageuser" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classCardApplicationAdd" nillable="true" type="tns:classCardApplicationAdd"/>
  <xsd:complexType name="classStatementStatDataSummaryforMIT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="toatlcashadvance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="totalcredits" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="totaldebits" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classStatementStatDataSummaryforMIT" nillable="true" type="tns:classStatementStatDataSummaryforMIT"/>
  <xsd:complexType name="classInstallmentSummaryforMIT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="installmenttotalamount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="installmenttotaloutstanding" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="numberofinstallments" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classInstallmentSummaryforMIT" nillable="true" type="tns:classInstallmentSummaryforMIT"/>
  <xsd:complexType name="ArrayOfclassReference">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classReference" nillable="true" type="tns:classReference"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassReference" nillable="true" type="tns:ArrayOfclassReference"/>
  <xsd:complexType name="classReference">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RefName" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RefValue" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classReference" nillable="true" type="tns:classReference"/>
  <xsd:complexType name="ArrayOfclassTravelInsurer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classTravelInsurer" nillable="true" type="tns:classTravelInsurer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassTravelInsurer" nillable="true" type="tns:ArrayOfclassTravelInsurer"/>
  <xsd:complexType name="classTravelInsurer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Dob" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="Name" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Relationship" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classTravelInsurer" nillable="true" type="tns:classTravelInsurer"/>
  <xsd:complexType name="ArrayOfclassTravelAbroad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="classTravelAbroad" nillable="true" type="tns:classTravelAbroad"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfclassTravelAbroad" nillable="true" type="tns:ArrayOfclassTravelAbroad"/>
  <xsd:complexType name="classTravelAbroad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Destination" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="classTravelAbroad" nillable="true" type="tns:classTravelAbroad"/>
</xsd:schema>